@mixin control {
  $spacing: 5px;
  $height: 20px;
  transition: all 0.3s ease;
  position: absolute;
  bottom: $spacing;
  left: $spacing;
  right: $spacing;
  background: #322c35;
  opacity: 0.2;
  height: $height;
  z-index: 2;
  border-radius:2px;
  padding: 8px;
  display: flex;
  align-items: center;
  &:hover {
    opacity: .8;
  }
}
