@mixin play {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 12px solid #FFF;
  border-bottom: 8px solid transparent;
}
@mixin pause {
  width: 4px;
  height: 16px;
  border-right: 4px solid #FFF;
  border-left: 4px solid #FFF;
  border-top: 0;
  border-bottom: 0;
}

@mixin play-btn {
  background: none;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  border-right: 0;
  cursor: pointer;
  @include play;
  &.paused {
    @include pause;
  }
}
