@mixin progress-bar {
  $height: 10px;
  $width: 95%;
  background-color: #505050;
  border-radius: 5px;
  opacity: .3;
  height: $height;
  width: $width;
}

progress::-webkit-progress-bar {
  background: black;
  border-radius: 50px;
  padding: 2px;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}
progress::-webkit-progress-value {
  border-radius: 50px;
  box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
  background-color: #c0c0c0;
}