@import "./progress-bar.scss";
@import "./control.scss";
@import "./play-btn.scss";

body {
    background: #2C2C2C;
}
// TODO organise CSS
.container {
    position: relative;
    display: inline-flex;
    .control {
        @include control;
        progress {
            @include progress-bar;
        }
        .play-btn {
            @include play-btn;
        }
    }
}
